.list_products{
    width: '100%';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.tachado{
    background-color: red !important;
}

.Mui-selected .MuiDataGrid-cell--textLeft{
    text-decoration: line-through;
}