.search{
    display: flex;
    align-items: center;
    flex: 0.7;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}

.search > MuiSvgIcon-root {
    color: grey;
}

.search__input {
    border: none;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: medium;
    background-color: transparent;    
}

.btn-primary{
    background-color: whitesmoke!important;
    border-color: whitesmoke!important;
    color: black!important;
}