.listScreen__buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
}

.button__add{
    background-color: rgb(10, 105, 10)!important;
    width: 35px; 
    height: 35px;
}

.button__delete{
    background-color: rgb(255, 0, 0)!important;
    width: 35px; 
    height: 35px;
    margin-left: 10px !important;
}

.icon__color{
    color: rgb(255,255,255);
}

